<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }

   p {
       margin-bottom:0px;

   }

   address{
    display: block;
    width: 300px;
    margin:0px;
    
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee      }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }

.img {
  border: 0px solid #ddd;
  float: left;
  border-radius: 1px;
  padding: 3px;
  width: 200px;
}


.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:30%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}
p span{
  font-weight:700;
  color:#000;
}

</style>
</head>
<body>

  <div class="maindiv">
      
          <div class="img">
           <%= wicked_pdf_image_tag current_user.party.image %>
           </div>
        

          <div class="leftdiv">
        
            <p> <h2><span><%=current_user.party.party_name%> </span><br>
            Tax Invoice </h2>(Original for Recipient)
            <address> <span>Address:</span>
                     <%=current_user.party.party_address%></address>
                      <p><span>Consignee GSTIN Number:</span>
                      <%=current_user.party.party_gstin_no%></p>

                     <p><span>Contact Details:</span>
                    <%=current_user.party.contact_no%></p>

                    <p> <span>Vehicle Number:</span>
                       <%=@invoice.vehicle_number%></p>

                        <p> <span>Transportation Mode:</span>
                       <%=@invoice.transportation_mode%></p>
            </p>
          </div> 
  </div> 

  <div class="maindiv">
            


              <div class="rightdiv">
                      <p> <span>Consigner:</span>
                         <%=@invoice.customer.customer_name%></p>
                      <address> <span>Address:</span>
                      <%=@invoice.customer.address%></address>
                      <p> <span>GSTIN No:</span>
                      <%=@invoice.customer.gstin_no_reg%>
                      </p>
                      <p> <span>Place of Supply:</span>
                      <%=@invoice.customer.cust_place_of_supply%></p>
                      <p> <span>E-Way Bill No</span>
                      <%=@invoice.ebay_bill_no%></p>

              </div> 

               
    </div>
              <div class="maindiv">
                <div class="leftdiv">
                      <p><span>Invoice Date:</span>
                      <%=@invoice.date%></p>
                      <p><span>Invoice no:</span>
                      <%=@invoice.invoice_no%></p>

                </div>

              </div>


            <table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px;">
              <thead>
                <tr>
                  <th style="font-size: 16px; background-color: #ccc; width: 75px;" colspan="12"><center>Tax Invoice</center></th>
                </tr>

                <th>Sr No</th>
                <th>Item Description</th>
                <th>Item Code</th>
                <th>HSN/SAC</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Net Amount</th>
                <th>Tax Rate</th>
                <th>CGST</th>
                <th>SGST</th>
                <th>Tax Amount</th>
                <th>Total Amount</th>
              </tr>
              <%tax_amt = 0%>
              <%total_amt = 0%>
              <% rate = 0 %>
              <% @invoice.invoice_items.each_with_index do |i,n|%>
              <tr>
                <td><%= n + 1 %></td>
                <td><%= i.item.dogns%></td>
                <td><%= i.item.item_code%></td>
                <td><%= i.item.item_hsn_no%></td>

                <td>&#8377;<%= i.unit_price%></td>
                <td><%= i.quantity%></td>
                <td>&#8377;<%= i.net_amt%></td>
                 <td><%= i.tax_rate%>&#37;</td>
                <td>&#8377;<%=ans = i.tax_amt/2%></td>
                <td>&#8377;<%=ans%></td>
               
                <% rate = rate + i.tax_rate.to_f %>
                <td>&#8377;<%= i.tax_amt%></td>
                <td align="right">&#8377;<%= i.total_amt%></td>
              </tr>
              <% tax_amt += i.tax_amt.to_f%>
              <%total_amt += i.total_amt.to_f%>
              <% end %>

              <tr>
              <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                   <td>Tax Rate: &#8377;<%= rate %></td>
                <td><!-- CGST: &#8377;<%#=tax_amt/2%> --></td>
                <td><!-- SGST: &#8377;<%#=tax_amt/2%> --></td>
             

                <td>Total Tax: &#8377;<%=tax_amt%></td>
                <td>Total Amount: &#8377;<%= total_amt%></td>
              </tr>


            </div>
          </div>
        </div>
      </div>
    </div>
  </thead>
</table>

           <table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px;">
    <thead>

      <tr>
        <th><h3>Amount in Words:-   </h3> <h3><%= total_amt.to_i.to_words.split.map(&:capitalize).join(' ')%> Only <br>Cess: &nbsp;<%= @invoice.total_invoice_value%></th>
      </tr>

      <tr>
        <th> 

          <H4 align="right">Note <%=@invoice.narration%></H4>
          <H4 align="left">Terms and Conditions <%=@invoice.terms_and_conditions%></H4>
          <h4 align="right">&nbsp;</h4>

          <h4 align="right">Authorized Signatory</h4> 


        </th>
      </tr>

    </thead>
  </table>


 

