<!DOCTYPE html>
<html>
<head>
  <style>
    table {
     width:100%;
   }
   p {
       margin-bottom:0px;
   }
   address{
    display: block;
    width: 300px;
    margin:0px;
    
   }
   table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
     font-size: 12px;
   }
   th, td {
     padding: 2px;
     text-align: left;
   }
   table#t01 tr:nth-child(even) {
     background-color: #eee      }
   table#t01 tr:nth-child(odd) {
    background-color:#fff;
  }
  table#t01 th {
   background-color: black;
   color: white;
 }
 h5 {
   display:inline;
 }

.img {
  border: 0px solid #ddd;
  float: left;
  border-radius: 1px;
  padding: 3px;
  width: 200px;
}


.maindiv{
    width:100%;
}
.leftdiv{
  float:left;
  width:50%;
} 
.rightdiv{
  float:right;
  width:30%;
} 
.centerdiv{
  width:100%;
  margin:0 auto;
}

p span{
  font-weight:700;
  color:#000;
}

</style>
</head>
<body>




<div id="gallery-text">

<div class="gallery-text">
<%= wicked_pdf_image_tag current_user.party.image %>
</div>


<div class="gallery-text" align="right">

<p>
<p> <h2><strong><font color="grey">Export Purchase Bill  </strong>  </h2></font> <font size="3">(Original for Recipient)</font>


</p>
</div> 






</div>




<div class="maindiv">
  <div class="rightdiv">
<p>
<p><strong>Consignee:</strong>


<%=current_user.party.party_name%></p>

<p> <strong>Address:</strong>
<%=current_user.party.party_address%></p>

<p> <strong>GSTIN No:</strong>
<%=current_user.party.party_gstin_no%></p>
<p> <strong>PAN No</strong>
<%=current_user.party.party_pan_no%></p>
</p>
<p><strong>Transportation Mode</strong>
<%=@export_purchase_bill_invoice.transportation_mode%></p>
<p><strong>Vehicle Number</strong>
<%=@export_purchase_bill_invoice.vehicle_number%></p>

</div>
</div>


<div class="gallery-text" align="left">

<p>
<p> <strong>Consigner:</strong>
<%=@export_purchase_bill_invoice.customer.customer_name%></p>
<p> <strong>Address:</strong>
<%=@export_purchase_bill_invoice.customer.address%></p>
<p> <strong>GSTIN No:</strong>
 <%=@export_purchase_bill_invoice.customer.gstin_no_reg%></p>


</p>
</div> 
</div>
<div class align ="right">
   <br>
   <br>
 </div>  
 <div class align="left">
  
    <p><strong>Invoice Date:</strong>
      <%=@export_purchase_bill_invoice.date%></p>
      <p><strong>Invoice no:</strong>
      <%=@export_purchase_bill_invoice.purchase_no%></p><br>
    </div>
    
  </div>  
</div>  
<table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px; border-color: white;">
  <thead>
    <tr>
      <th style="font-size: 16px; background-color: #ccc; width: 75px;" colspan="11"><center>Export Purchase Invoice</center></th>
    </tr>

    <th>Sr No</th>
    <th>Item Description</th>
        <th>Item Code</th>
    <th>HSN/SAC</th>
    
    <th>Unit Price</th>
    <th>Quantity</th>
    <th>Net Amount</th>
    
   
    <th>Total Amount</th>
  </tr>
  <%tax_amt = 0%>
  <%total_amt = 0%>
  <%tnet = 0%>
  

  <% @export_purchase_bill_invoice.export_purchase_bill_items.each_with_index do |i,n|%>
  <tr>
    <td><%= n + 1 %></td>
    <td><%= i.item.dogns%></td>
    <td><%= i.item.item_code%></td>
    <td><%= i.item.item_hsn_no%></td>
   
    <td>&#8377;<%= i.unit_price%></td>
    <td><%= i.quantity%></td>
    <td>&#8377;<%= i.net_amount%></td>

    <% tnet = tnet + i.net_amount.to_f %>
    
    
   
    <td align="right">&#8377;<%= i.total_amt%></td>
  </tr>
  <% tax_amt += i.tax_amt.to_f%>
  <%total_amt += i.total_amt.to_f%>

  <% end %>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
   
    <td></td>
    
    <td>Total Net Amount: &#8377;<%=tnet%></td>
   

    <td>Total Amount: &#8377;<%= total_amt%></td>

  </tr>
  
</div>
</div>
</div>
</div>
</div>
</thead>
</table>



    <table class="table table-condensed table-bordered" style="margin-top: -15px; margin-bottom: 15px;">
    <thead>
      <tr>
        <th><h3>Amount in Words:-   </h3> <h3><%= total_amt.to_i.to_words.split.map(&:capitalize).join(' ')%> Only 
      </tr>
      <tr>
        <th> 
          <H4 align="left"><u>Note:</u> <%=@export_purchase_bill_invoice.narration%></H4>
          <H4 align="left"><u>Terms and Conditions:</u><%=@export_purchase_bill_invoice.terms_and_conditions%></H4>
          <h4 align="right">&nbsp;</h4>
          <h4 align="right">Authorized Signature</h4> 
        </th>
      </tr>
    </thead>
  </table>
 

















