
   <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"> Form Modal</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Company Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="cname" placeholder="Company Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">GST No </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="gno" placeholder="If Register">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">ARN No</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="ano" placeholder="ARN No">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="address" placeholder="Address">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Customer Place Of Supply</label>
                            <div class="col-sm-10">
                            <select id="place" style="margin: 40px;background: white;color: black;">
                            <option>01-Jammu & Kashmir</option>
                            <option>02-Himachal Pradesh</option>
                            <option>03-Punjab</option>
                            <option>04-Chandigarh</option>
                            <option>05-Uttarakhand</option>
                            <option>06-Haryana</option>
                            <option>07-Delhi</option>
                            <option>08-Rajasthan</option>
                            <option>09-Uttar Pradesh</option>
                            <option>10-Bihar</option>
                            <option>11-Sikkim</option>
                            <option>12-Arunachal Pradesh</option>
                            <option>13-Nagaland</option>
                            <option>14-Manipur</option>
                            <option>15-Mizoram</option>
                            <option>16-Tripura</option>
                            <option>17-Meghalaya</option>
                            <option>18-Assam</option>
                            <option>19-West Bengal</option>
                            <option>20-Jharkhand</option>
                            <option>21-Odisha</option>
                            <option>22-Chhattisgarh</option>
                            <option>23-Madhya Pradesh</option>
                            <option>24-Gujarat</option>
                            <option>25-Daman & Diu</option>
                            <option>26-Dadra & Nagar Haveli</option>
                            <option>27-Maharashtra</option>
                            <option>29-Karnataka</option>
                            <option>30-Goa</option>
                            <option>31-Lakshdweep</option>
                            <option>32-Kerala</option>
                            <option>33-Tamil Nadu</option>
                            <option>34-Pondicherry</option>
                            <option>35-Andaman & Nicobar Islands</option>
                            <option>36-Telangana</option>
                            <option>37-Andhra Pradesh</option>
                            <option>97-Other Territory</option>
                            </select>
                          </div>
                        </div>


                        <div class="form-group">
                            <label for="cno" class="col-sm-2 control-label">Contact Number</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="Contactno" placeholder="Contact Number">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">Contact Person Name</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="personno" placeholder="Contact Person Name">
                            </div>
                        </div>

                      

                          <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">  Name Of Service</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="serviceno" placeholder="Name Of Service">
                            </div>
                        </div>

                       

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">   Service Acc Code</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="acccode" placeholder="Service Acc Code">
                            </div>
                        </div>

                        


                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">   PAN No</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="panno" placeholder="PAN No">
                            </div>
                        </div>

                        
                        <div class="form-group">&nbsp;&nbsp;&nbsp;
                        <label class="col-sm-15 control-label">Select Customer Type</label><br/>

                                <select id="ctype" style="margin: 40px;background: white;color: black;">
                                  
                                  <option>E-Commerce GSTIN</option>
                                  <option>Regular</option>
                                </select>
                                 
                                   
                                  
                        </div>

                        </div>


                        <button type="button" class="btn btn-primary" onclick="test();">submit</button>


                    <button type="button" class="btn btn-default" data-dismiss="modal"">Close</button>
                    
               



                     
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

      function test(){
      var a = $("#cname").val();
      var b = $("#gno").val();
      var c = $("#ano").val();
      var d = $("#address").val();
      var e = $("#Contactno").val();
      var f = $("#serviceno").val();
      var g = $("#panno").val();
      var h = $("#Contactno").val();
      var i = $("#personno").val();
      var j = $("#acccode").val();
      var k = $("#place").val();
      var l = $("#ctype").val();

      var person = {customer:{
      customer_name: a,
      gstin_no_reg: b,
      arn_no: c,
      address: d,
      cust_place_of_supply: k,
      customer_cust_name_of_commodity_supplied: h,
      customer_cust_tarrif_no: i,
      cust_name_of_service: f,
      cust_serv_acc_code: j,
      cust_pan_no: g,
      customer_type: l

            }
        }

        $.ajax({
            url: '/customers',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                alert(data);
            },
            data: person
        });

        reload();

    }

    function reload(){
      location.reload();
    }
   

      

    </script>

<div class="pageheader">
  <h1>Composite</h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a>
      </li>
      <li>Forms</li>
      <li class="active">New Composite Invoice</li>
    </ol>
  </div>
</div>

<section id="main-content" class="animated fadeInUp">

   <!-- Form Modal -->
 





  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">New Invoice</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <%= nested_form_for @b2b_composite do |f|%>

        <form class="form-horizontal">
          <div class="form-group">
    <div class="col-sm-12">
     <%if current_user.role == 'Party'%>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Search Customers</label>           <%=f.select :customer_id ,current_user.customers.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
          <center><p>
          <button  type="button" data-toggle="modal" data-target="#formModal" style="width: 181px; height: 24px;background: white;color: black;">
          Add Cutomer
          </button>
        </p>
          </center>
          </div>
      </div>
      <%else%>
      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Search Customers</label>           <%=f.select :customer_id ,Customer.all.collect{|i| [i.customer_name, i.id]}, {prompt:true},class: "form-control"%>
        </div>
      </div>
      <%end%>  

       <div class="form-group">
          <div class="col-sm-3">
            <label class="col-sm-15 control-label">Place of Supply</label>   
          <input type="cust_place_of_supply" name="cust_place_of_supply" id="cust_place_of_supply" class="form-control">
          </div>
        </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-15 control-label">GSTIN No of Supplier</label>   
          <input type="gstin_no_reg" name="gstin_no_reg" id="gstin_no_reg" class="form-control"></td>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-15 control-label">Address</label>   
          <input type="address" name="address" id="address" class="form-control"></td>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label"><b>RCM</b></label>   
          <%= f.select :rcm,options_for_select(['Y','N']),{prompt:true},class: 'form-control'%>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Invoice Number</label>   
          <%= f.text_field :invoice_number,placeholder: 'Invoice Number',class: 'form-control'%>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Date</label>   
          <%= f.date_field :invoice_date,value: Date.today, class: 'form-control'%>
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-3">
          <label class="col-sm-10 control-label">Invoice Type</label>   
         <div class="form-group">
            <div class="col-sm-3">

             <div class="radio">
              <%= f.radio_button "invoice_type", "4B(B2B)",checked: true%><h6><b>4B(B2B)</b></h6>
              <%= f.radio_button "invoice_type", "4C(B2BUR)"%><h6><b>4C(B2BUR)</b></h6>
              <%= f.radio_button "invoice_type", "4D(IMPS)"%><h6><b>4D(IMPS)</b></h6>
              
            </div>
          </div>
        </div>
      </div>
<p>&nbsp;</p>




   <br><br>

</div>
      <div class="panel-body">

           <div class="col-sm-12">
          <div class="table-responsive">
            <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
              <thead>
               <tr>
                <th><h6>Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
                <th><h6>Unit-Price</h6></th>
                <th><h6>Quantity</h6></th>
                <th><h6>Net Amt</h6></th>
                <th><h6>SGST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
                <th><h6>CGST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
                <th><h6>Tax Rate</h6></th>
                <th><h6>Tax Amt&nbsp;</h6></th>
                <th><h6>Total Amt</h6></th>
                <th><h6>Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h6></th>
              </tr>
            </thead>
            
          </table>
        </div>

        <%= f.fields_for :b2b_composite_items, :wrapper => false do |invoice_item| %>
        
        <div class="table-responsive">
          <table id="example"  class="table table-bordered table-striped" cellspacing="0" width="100%">
            <colgroup>
            <col class="one"/>
            <col class="two"/>
            <col class="three"/>
            <col class="four"/>
            <col class="five"/>
            <col class="six"/>
            <col class="seven"/>
            <col class="eight"/>
          </colgroup>

          
          <tr class="fields">

            <%if current_user.role == 'Party'%>
            <td> <%=invoice_item.select :item_id ,current_user.items.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "select"%></td>
            <%else%>
            <td> <%=invoice_item.select :item_id ,Item.all.collect{|i| [i.dogns,i.rate, i.id]}, {prompt:true},class: "select"%></td>
            <%end%>

            <td><%= invoice_item.text_field :unit_price, id: :rate,class: 'form-control'%></td>
            <td><%= invoice_item.text_field :quantity, id: :qty,placeholder: 'Add qty', class: 'form-control'%></td>
            <td><%= invoice_item.text_field :net_amt, id: :net_amt, class: 'form-control'%></td>
            <td><%= text_field_tag :sgst, "", class: 'form-control'%></td>
            <td><%= text_field_tag :cgst, "", class: 'form-control'%></td>
            <td><%= invoice_item.text_field :tax_rate, id: :tax_rate, class: 'form-control'%></td>
            <td><%= invoice_item.text_field :tax_amt, id: :tax_amt, class: 'form-control'%></td>
            <td><%= invoice_item.text_field :total_amt, id: :total_amt, class: 'form-control'%></td>
            
            <td><%= invoice_item.link_to_remove "Remove", class: 'btn btn-info' %></td>
          </tr>
        </table>

      </div>
      <!--grid_table-->
      


      <% end %>
      <td><%= f.link_to_add "Add Item", :b2b_composite_items , class: 'btn btn-danger' %></td>
      <div class="pull-right">
        <p><%= f.submit "Create Invoice", class: 'btn btn-success' %></p>
      </div>
       <% end %>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</section>

  


<% content_for :javascript do %>
<script type="text/javascript">
  

  $(document).ready(function() {
    $('select#b2b_composite_customer_id').select2({
     
      placeholder: "Choose a customers",
      allowClear: true
    });



    




  });
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $("#b2b_composite_customer_id").on("change", function() {
    var customer_id;
    Item = $(this).val();
    $.ajax({
      url: "/customers/load_customer_data",
      type: "GET",
      data: {customer_id: Item },
      dataType: "json"
    }).done(function (data) {
     console.log(data);
     $("#address").val(data[0]);
     $("#gstin_no_reg").val(data[1]);
     $("#cust_pan_no").val(data[2]);
    $("#cust_place_of_supply").val(data[3]);
      // $("#uom").val(data[1]);
      // $("#rate").val(data[2]);
      
    });
  });
</script>
<% end %>





<% content_for :javascript do %>
<script type="text/javascript">
  $(document).on("change", ".select", function () {
    var item_id = $(this);
    elem = jQuery(this);
    $.ajax({
      url: "/items/load_item_data",
      type: 'GET',
      dataType: 'html',
      data: {item_id: $(this).val()},
      success: function (data) {
        console.log(data);
        item = JSON.parse(data);
        container = elem.parents("tr.fields");
        container1 = elem.parents("th.fields");
        container.find("#rate").val(item[0]);
        container.find("#cgst").val(item[1]);
        container.find("#sgst").val(item[2]);

      }
    });

  });
</script>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
 $(document).on("keyup", "#rate, #qty", function() {
  container = elem.parents("tr.fields");
  var val1 = +container.find("#rate").val();
  var val2 = +container.find("#qty").val();
  var sval = +container.find("#sgst").val();
  var cval = +container.find("#cgst").val();
  var val3 = sval+cval;
  +container.find("#tax_rate").val(val3);
  +container.find("#net_amt").val(val1*val2);
  +container.find('#tax_amt').val(val3*val1*val2/100);
  var ans = (val1*val2 + val3*val1*val2/100);
  +container.find('#total_amt').val(ans);
});


 function deleteRow(btn) {
  var row = btn.parentNode;
  row.parentNode.removeChild(row);
}

</script>
<%end%>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).on('nested:fieldAdded', function(event){
  // this field was just inserted into your form
  var field = event.field; 
  var selectField = field.find('.select');
  selectField.select2();
  // and activate datepicker on it
//  dateField.datepicker();
})
</script>
<% end %>



<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    $('select#b2b_composite_b2b_composite_items_attributes_0_item_id').select2({
    });
  });
</script>
<% end %>
